# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - hstvvideoapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_039f957bf5334b0ab273108fa71ff68e }}
        password: ${{ secrets.AzureAppService_ContainerPassword_5cb6f92121a1425f81e6af283483c7da }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_039f957bf5334b0ab273108fa71ff68e }}/munyamakosa/videoserver:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'hstvvideoapp'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_545c9ffafea74a799df6367921d09417 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_039f957bf5334b0ab273108fa71ff68e }}/munyamakosa/videoserver:${{ github.sha }}'